pip install biopython
pip install prody
pip install fair-esm
pip install packaging
pip install git+https://github.com/AMLab-Amsterdam/lie_learn
pip install torch-geometric
pip install torch-scatter
pip install torch-sparse
pip install dgl-cu110
